<div class="outer-div">
<mat-toolbar color="primary">
    <span>Read Later</span>  
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu" style="float: right"><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
    <a mat-menu-item href="/home"> Articles</a>
    <a mat-menu-item href="/read-later"> Read Later</a>
    <a mat-menu-item href="/profile"> Profile</a>
    <a mat-menu-item href="/logout"> Logout </a>
  </mat-menu>
  <mat-sidenav-container class="example-container">

    <mat-card class="example-card" *ngFor="let article of articleResults; let i= index;">
        <a href="{{article.url}}" target="_blank" style="text-decoration: none; color: black;"><mat-card-title-group>
                <mat-card-title class="title">{{article.title}}</mat-card-title>
            <mat-card-subtitle>{{article.source}} - {{article.section}}</mat-card-subtitle>
        </mat-card-title-group>
        </a>
      <mat-card-content>
        <p>
          {{article.abstract}} - <button mat-button (click)="removeFromList(i)">Remove from list</button>
        </p>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-container>
  <mat-paginator
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageIndex]="pageIndex">
</mat-paginator>
  