.inner-card{
  justify-content: center;
}
.container{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
}
#changeName{
  margin-left: 8px;
  margin-right: 8px;
}
#editNameModal{
  display: none;
}